API: {{ .Get "api" }}

Ask a question:
<input type="text" id="chatbot_prompt" autocomplete="off" />

<br />

Get a response:
<p id="chatbot_response"></p>

<script>
    const API_URL = 'https://uz0k9wxh33.execute-api.ca-central-1.amazonaws.com/live';

    const prompt = document.getElementById('chatbot_prompt');
    let timeoutId;

    const handleResponse = (response) => {
        console.log('handleResponse', response);
    }

    const submitPromptDelay = 1000; // milliseconds
    const submitPrompt = (prompt) => {
        console.log('submitPrompt', prompt);
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                handleResponse(xmlHttp.responseText);
            }
        }
        const conversationId = '123'; // TODO
        const isAsynchronous = true;
        xmlHttp.open('POST', `{API_URL}/chatbot/${conversationId}`, isAsynchronous);
        xmlHttp.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
        xmlHttp.send(JSON.stringify({
            'text': prompt,
        }));
    };

    prompt.addEventListener('keyup', (event) => {
        if (timeoutId !== undefined) {
            clearTimeout(timeoutId);
        }
        const prompt = event.target.value;
        timeoutId = setTimeout(submitPrompt, submitPromptDelay, prompt);
    });
</script>
