API: <code>{{ .Get "api" }}</code>
<br />

Request a song list:
<input type="text" id="chatbot_user_message" placeholder="type here and press enter"></textarea>
<button id="chatbot_submit" type="button">Submit</button>
<br />

<p>Assistant response:</p>
<textarea id="chatbot_assistant_message" cols="100" rows="1000"></textarea>
<br />

<script>
    const API_URL = 'https://uz0k9wxh33.execute-api.ca-central-1.amazonaws.com/live';

    const userMessageTextInput = document.getElementById('chatbot_user_message');
    const submitButton = document.getElementById('chatbot_submit');
    const assistantMessageTextInput = document.getElementById('chatbot_assistant_message');

    const handleAssistantMessage = (assistantMessage) => {
        console.log(`Assistant message: ${assistantMessage}`);
        assistantMessageTextInput.innerHTML = assistantMessage;
    }

    const submitUserMessage = (userMessage) => {
        console.log(`User message: ${userMessage}`);
        if (!userMessage) return;
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() {
            if (xmlHttp.readyState == 4) {
                const isSuccessful = xmlHttp.status === 201;
                if (isSuccessful) {
                    const assistantMessage = xmlHttp.responseText;
                    const assistantMessageObject = JSON.parse(assistantMessage);
                    handleAssistantMessage(assistantMessageObject.text);
                    return;
                }
                const hasTooManyRequests = xmlHttp.status === 429;
                if (hasTooManyRequests) {
                    handleAssistantMessage('Too many requests, please try again later.');
                    return;
                }
                handleAssistantMessage('Something went wrong...');
            }
        }
        const conversationId = '123'; // TODO
        const isAsynchronous = true;
        xmlHttp.open('POST', `${API_URL}/chatbot/conversation/${conversationId}`, isAsynchronous);
        xmlHttp.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
        xmlHttp.send(JSON.stringify({
            'text': userMessage,
        }));
    };

    submitButton.addEventListener('click', (event) => {
        console.log('User submitted request');
        event.preventDefault();
        const userMessage = userMessageTextInput.value;
        submitUserMessage(userMessage);
    });
</script>
